body{
margin: 0;
padding: 0;
}
section{
display: grid;
grid-template-columns: auto auto auto auto;
width: 100%;
height: 1410px;
}
.grid1{
grid-column: 1/3;
grid-row: 1/3;
position: relative;
gap: 5px;
}
.grid1 div{
position: absolute;
width: 40%;
height: 100%;
display: flex;
flex-direction: column;
padding:100px ;
align-items: center;
}
.grid1 img{
right: 12%;
position: absolute;
bottom: 0px;
width: 34%; 
height: 90%;
}
.grid2{
grid-column: 3/5;
grid-row: 1/3;
background-color: #f7f8f9;
position: relative;
}
.grid2 div{
position: absolute;
left: 15%;
width: 80%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
text-align:  center;
}
.grid3{
    grid-column: 1/2;
    grid-row: 3/5;
    background-color: #f05638;
    position: relative;
}
.grid3 img{
    position: absolute;
    width: 75%;
    height: 45%;
    top: 10%;
    left: 15%;
}
.grid3 div{
    position: absolute;
    width: 55%;
    height: 45%;
    bottom: 5%;
    left: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.grid4{
    grid-column: 2/4;
    grid-row: 3/5;
    background-color: white;
    position: relative;
}
.grid4a{
    position: absolute;
    width: 30%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 5%;
    top: 10%;
}
.grid4 img{
    position: absolute;
    width: 50%;
    height: 40%;
    bottom: 0;
    left: -28%;
}
.grid4b{
    position: absolute;
    width: 40%;
    height: 60%;
    right: 10%;
    top: 20%;
}
.grid5{
    grid-column: 4/5;
    grid-row: 3/7;
    background-color: #8f76bc;
    position: relative;
}
.grid5a{
    position: absolute;
    top: 10%;
    width: 100%;
    height: 45%;
    border-radius: 99999px;
    background-color: #8166b0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
}
.grid5a div{
    width: 100px;
    height: 30px;
    border-radius: 15%;
    background-color: #8f76bc;
    text-align: center;
}
.grid5a img{
    width: 60%;
    height: 60%;
}
.grid5b{
    position: absolute;
    width: 80%;
    height: 50%;
    left: 10%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
}
.grid5b button{
    width: 200px;
    height: 50px;
    font-size: large;
    border-radius: 50px;
    background-color: #ffc80a;
}
.grid6{
    grid-column: 1/2;
    grid-row: 5/7;
    background-color: #f7f8f9;
    position: relative;
}
.grid6 img{
    position: absolute;
    width: 50%;
    height: 35%;
    top: 15%;
    left: 15%;
}
.grid6 h2{
    position: absolute;
    bottom: 25%;
    left: 25%;
}
.grid6 a{
    position: absolute;
    bottom: 15%;
    left: 40%;
    text-decoration: none;
    color: #38d5f4;
}
.grid7{
    grid-column: 2/4;
    grid-row: 5/7;
    background-color: #93b6b7;
    position: relative;
}
.grid7a{
    position: absolute;
    left: 3%;
    top: 3%;
    width: 15%;
    height: 5%;
    background-color: #f05638;
    color: white;
    text-align: center;
    border-radius: 15%;
}
.grid7b{
    position: absolute;
    width: 30%;
    height: 30%;
    top: 4%;
    left: 35%;
    color: white;
    font-size: x-large;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.grid7 img{
    position: absolute;
    width: 70%;
    height: 70%;
    bottom: 0;
    left: 5%;
}
.grid8{
    grid-column: 1/2;
    grid-row: 7/8;
    background-color: #65e4f5;
    position: relative;
}
.grid8 div{
    position: absolute;
    left: 20%;
    width: 60%;
    height: 100%;
    background-color: #35cfed;
    border-radius:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.grid9{
    grid-column: 2/3;
    grid-row: 7/8;
    background-color: #f7f8f9;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.grid9 div{
    position: absolute;
    top: 20%;
    width: 80px;
    height: 20px;
    background-color: #7bc424;
    color: white;
    border-radius: 5px;
    text-align: center;
}
.grid9 h3{
    position: absolute;
    display: block;
    width: 70%;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
}
.grid10{
    grid-column: 3/5;
    grid-row: 7/8;
    background-color: #2c2c2c;
    position: relative;
}
.grid10 img{
    position: absolute;
    left: -5%;
    width: 40%;
    height: 100%;
}
.grid10 h3{
    position: absolute;
    right: 15%;
    top: 25%;
    color: white;
    font-size: 22px;
    width: 34%;
    text-align: center;
}